<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link href="/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="/layui/layui.js"></script>
</head>
<body>
<div>
    <table id="demo"></table>
</div>
<button style="height: 50px ;width: 150px" type="button" onclick="f()"></button>


<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/city/findAlldata' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    , {field: 'city_name', title: '城市名', }
                    , {field: 'city_time', title: '创建时间',  sort: true}
                    , {field: 'city_count', title: '数量',  }
                ]
            ]
        });

    });
    function f() {
        $.post({ url: "/city/save?" +
                "city_name="+GetRandomNum(0,558885) ,
            context: JSON,
            success: function(json){
                console.log(json)
            },
            error :function () {
                console.log(json)
            }});

    }


    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }
</script>
</body>
</html>
