<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link href="/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="/layui/layui.js"></script>
</head>
<body>
<table id="demo"></table>
<button style="height: 50px ;width: 150px" type="button" onclick="f()"></button>

<script type="text/javascript">
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/class/findAlldata' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                     {field: 'class_id', title: '教室代码', width: 80}
                    , {field: 'class_name', title: '教室名称', width: 230, sort: true}
                ]
            ]
        });

    });


    function f() {
        $.post({ url: "/class/save?" +
                "classname="+GetRandomNum(0,558885)+
                "&classid="+GetRandomNum(0,999999) ,
            context: JSON,
            success: function(json){
                console.log(json)
            },
            error :function () {
                console.log(json)
            }});

    }


    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }
</script>
</body>
</html>
