<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link href="/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="/layui/layui.js"></script>
</head>
<body>

<form action="/user/login" type="post">

    <input type="text" name="username" id="name" placeholder="请输入用户名...">
    <input type="text" name="password"  id="password" placeholder="请输入密码...">
    <input type="text" name="code"
           id="code" placeholder="请输入验证码....">

    <img src="/user/getImage" id="image"
         style="height:48px;float: right;" alt="">
    <button class="layui-btn layui-btn-sm" type="submit">登陆</button>

</form>

<table id="demo"></table>

<button class="layui-btn layui-btn-sm" type="button" onclick="f()">添加</button>


<script>

    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 312
            , url: '/user/list' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'account_name', title: '用户名',   sort: true, fixed: 'left'}
                    , {field: 'regtime', title: '注册时间',  }
                    , {field: 'role', title: '角色'   }
                ]
            ]
        });

    });


    function f() {
        $.post({ url: "/user/regist?" +
                "username="+GetRandomNum(0,558885)+
                "&password= 111"+
                "&role= 0",
            context: JSON,
            success: function(json){
                console.log(json)
            },
            error :function () {
                console.log(json)
            }});

    }


    function GetRandomNum(Min, Max) {
        var Range = Max - Min;
        var Rand = Math.random();
        return(Min + Math.round(Rand * Range));
    }

</script>
</body>
</html>
