<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <link href="/layui/css/layui.css" media="all" rel="stylesheet">
    <script src="/layui/layui.js"></script>
</head>
<body>
<form action="/data" method="post">

    <input name="interest" type="checkbox" value="a1"/>a1<br/>
    <input name="interest" type="checkbox" value="a2"/>a2<br/>
    <input name="interest" type="checkbox" value="a3"/>a3<br/>
    <input name="interest" type="checkbox" value="a4"/>a4<br/>
    <input name="interest" type="checkbox" value="a5"/>a5<br/>
    <input type="submit" value="aaa">
</form>
aaa
</body>
</html>
